* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background-img.png') no-repeat center center fixed;
	background-size: cover;
}

.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}

.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background: radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}

.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}

.messageStyle {
	background: white;
	padding: 30px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.score {
	position: fixed;
	z-index: 10;
	top: 20px;
	left: 20px;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.45);
	border-radius: 12px;
	color: gold;
	font-size: 40px;
	font-weight: bold;
	display: flex;
	gap: 10px;
	align-items: center;
	border: 2px solid white;
}
.score_title {
	color: white;
	font-size: 32px;
}

@media only screen and (max-width: 1080px) {
    .message {
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score {
		font-size: 28px;
	}
	.bird {
		width: 120px;
		height: 90px;
	}
	.pipe_sprite {
		width: 14vw;
	}
}
